.main_content {
  width: calc(100% - 280px);
  position: relative;
}
.main_content .header_wrapper {
  background: #29323B;
  box-shadow: 0 11px 0px 0 rgba(15, 15, 20, 0);
  padding: 25px;
  border-radius: 0px 10px 12px 0px;
  position: relative;
  overflow: hidden;
  z-index: 999;
}
.main_content .header_wrapper::after {
  content: "";
  background-color: #2e3843;
  top: 0;
  left: -160px;
  position: absolute;
  width: 27%;
  height: 100px;
  transform: rotate(-45deg);
  z-index: -1;
}
.main_content .header_wrapper .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_content .header_wrapper .header_container svg {
  height: 20px;
  width: 20px;
}
.main_content .header_wrapper .header_container .page_title h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  display: flex;
  align-items: center;
}
.main_content .header_wrapper .header_container .page_title h1 span {
  background: #F89020;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 18px;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.1);
  justify-content: center;
}
.main_content .header_wrapper .icon_details {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.main_content .header_wrapper .icon_details .share_btn button {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #F5BF4F, #F89020);
  border: none;
  padding: 5px 15px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.1);
  transition: 0.5s ease-in-out;
}
.main_content .header_wrapper .icon_details .get_btn a {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}
.main_content .header_wrapper .icon_details .get_btn a span svg path {
  stroke: #F89020;
}
.main_content .content_wrapper {
  padding: 30px 30px 110px 30px;
  height: calc(100vh - 164px);
  overflow-y: scroll;
}
.main_content .content_wrapper::-webkit-scrollbar {
  width: 1px;
  background: rgba(248, 144, 32, 0.2588235294);
  /* make scrollbar transparent */
}
.main_content .footer_wrapper {
  background: #29323B;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
}
.main_content .footer_wrapper .footer_content P {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.main_content .footer_wrapper .footer_social_icn ul li {
  display: inline-block;
  padding-left: 15px;
}
.main_content .footer_wrapper .footer_social_icn ul li a {
  background-color: #F89020;
  padding: 5px;
  line-height: 10px;
  display: block;
  border-radius: 2px;
}
.main_content .footer_wrapper .footer_social_icn ul li a svg {
  width: 20px;
  height: 20px;
}

.sidebar_wrapper {
  width: 280px;
  left: 0;
  height: calc(100vh - 80px);
  top: 0;
  background: #29323B;
  overflow-y: scroll;
  padding: 0 0 20px 0;
  border-left: solid 1px rgba(204, 204, 204, 0.0901960784);
}
.sidebar_wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
.sidebar_wrapper .auther_details {
  padding: 17px 20px;
  border-right: solid 1px rgba(204, 204, 204, 0.0901960784);
  box-shadow: 0 11px 14px 0 rgba(15, 15, 20, 0.3);
  background: #2e3843;
}
.sidebar_wrapper .auther_details .auther_name {
  position: relative;
  padding-left: 20px;
}
.sidebar_wrapper .auther_details .auther_name::after {
  position: absolute;
  background-color: #F89020;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: "";
}
.sidebar_wrapper .auther_details .auther_name h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}
.sidebar_wrapper .auther_details .auther_name p {
  color: rgba(255, 248, 95, 0.6);
  font-size: 16px;
  padding-top: 10px;
}
.sidebar_wrapper .auther_wrapper {
  position: relative;
}
.sidebar_wrapper .auther_wrapper .auther_img {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.sidebar_wrapper .auther_wrapper .auther_img::after {
  content: "";
  background: #29323B;
  position: absolute;
  width: 100%;
  height: 100px;
  transform: rotate(-45deg);
  left: -200px;
  top: 0;
}
.sidebar_wrapper .auther_wrapper .auther_img::before {
  content: "";
  background: #29323B;
  position: absolute;
  width: 100%;
  height: 100px;
  transform: rotate(-45deg);
  right: -150px;
  bottom: 0;
}
.sidebar_wrapper .auther_wrapper .auther_img img {
  width: 100%;
  max-width: 280px;
}
.sidebar_wrapper .auther_wrapper .plus_icon {
  display: grid;
  width: 40px;
  height: 40px;
  justify-content: center;
  transform: rotate(45deg);
  align-items: center;
  background-color: #F89020;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -15px;
  left: 30px;
}
.sidebar_wrapper .auther_wrapper .plus_icon span {
  font-size: 24px;
  font-weight: 800;
  transform: rotate(45deg);
}
.sidebar_wrapper .verticla_menu {
  padding: 20px;
  margin-top: 30px;
}
.sidebar_wrapper .verticla_menu ul {
  border-radius: 2px;
  background: #2e3843;
}
.sidebar_wrapper .verticla_menu ul li {
  padding: 15px;
  border-top: solid 1px rgba(204, 204, 204, 0.1294117647);
  position: relative;
  z-index: 999;
}
.sidebar_wrapper .verticla_menu ul li:first-child {
  border: none;
}
.sidebar_wrapper .verticla_menu ul li a {
  text-decoration: none;
  color: #959595;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sidebar_wrapper .verticla_menu ul li:after {
  content: "";
  background: rgba(204, 204, 204, 0.1098039216);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
.sidebar_wrapper .verticla_menu ul li:hover:after {
  width: 100%;
}
.sidebar_wrapper .verticla_menu ul li svg {
  width: 20px;
  height: 20px;
  fill: #F89020;
}
.sidebar_wrapper .verticla_menu ul li svg path {
  stroke: #F89020;
  fill: #F89020;
}
.sidebar_wrapper .cv_button {
  padding: 20px;
}
.sidebar_wrapper .cv_button button {
  background: linear-gradient(90deg, #F5BF4F, #F89020);
  border: none;
  padding: 11px 20px;
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.1);
  transition: 0.5s ease-in-out;
}
.sidebar_wrapper .cv_button button:hover {
  box-shadow: none;
}

.home_wrapper .v_content_w {
  position: relative;
}
.home_wrapper .v_content_w .v_img {
  position: relative;
}
.home_wrapper .v_content_w .v_img::after {
  content: "";
  background-color: rgba(41, 50, 59, 0.5843137255);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.home_wrapper .v_content_w .v_img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background: cadetblue;
}
.home_wrapper .v-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-80%, -50%);
}
.home_wrapper .v-content h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
}
.home_wrapper .v-content span {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 15px;
  display: block;
}
.home_wrapper .services_wrapper h2 {
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
}
.home_wrapper .services_wrapper .services_item_W {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.home_wrapper .services_wrapper .services_item_W .ser_item {
  background-color: #29323B;
  box-shadow: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  position: relative;
}
.home_wrapper .services_wrapper .services_item_W .ser_item span {
  border: solid 1px #4c4c4c;
  padding: 8px;
  background: #232C32;
  color: rgba(255, 255, 255, 0.7);
}
.home_wrapper .services_wrapper .services_item_W .ser_item p {
  padding-bottom: 20px;
}
.home_wrapper .services_wrapper .services_item_W .ser_item .desk-icon svg {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15px;
  transition: 0.5s ease-in-out;
  right: 30px;
  fill: #F89020;
}
.home_wrapper .services_wrapper .services_item_W .ser_item .desk-icon svg:hover {
  transform: translatey(-5px);
}
.home_wrapper .services_wrapper .services_item_W .ser_item .desk-icon svg path {
  fill: #F89020;
}
.home_wrapper .services_wrapper .services_item_W .ser_item .sof_edit {
  padding-top: 10px;
  position: relative;
}
.home_wrapper .services_wrapper .services_item_W .ser_item .sof_edit::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(204, 204, 204, 0.0901960784);
  width: 100%;
  height: 1px;
}
.home_wrapper .services_wrapper .services_item_W .ser_item .sof_edit ul li {
  display: inline-block;
  padding-right: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.home_wrapper .testi_wrapper h2 {
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
}
.home_wrapper .testi_wrapper .testi_item_W {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_title {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_title h3 {
  padding: 0;
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_title span {
  border: solid 1px #4c4c4c;
  padding: 8px;
  background: #232C32;
  color: rgba(255, 255, 255, 0.7);
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_des {
  position: relative;
  background: #232C32;
  padding: 30px;
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_des img {
  position: absolute;
  right: 30px;
  top: -40px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.home_wrapper .testi_wrapper .testi_item_W .testi_item .client_des p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  padding-top: 20px;
}
.home_wrapper .client_list {
  margin-top: 30px;
}
.home_wrapper .client_list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.home_wrapper .client_list ul li {
  background: #232C32;
  padding: 30px 50px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.home_wrapper .client_list ul li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.home_wrapper .client_list ul li a img {
  width: 100%;
  max-width: 88px;
}

.resume_wrapper h2 {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0 30px 0;
}
.resume_wrapper .res_des {
  display: grid;
  grid-template-columns: 66% 30%;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.resume_wrapper .res_des .res_cont {
  background: #29323B;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px rgba(204, 204, 204, 0.5333333333);
}
.resume_wrapper .res_des .res_lang {
  background: #29323B;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px rgba(204, 204, 204, 0.5333333333);
}
.resume_wrapper .res_des .res_lang ul {
  padding-left: 30px;
}
.resume_wrapper .res_des .res_lang ul li {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 0 5px 0px;
  list-style: disc;
}
.resume_wrapper .res_des .res_lang ul li::marker {
  color: #F89020;
}
.resume_wrapper .work_edu_wrapper {
  margin: 30px 0;
}
.resume_wrapper .work_edu_wrapper .title_wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.resume_wrapper .work_edu_wrapper .title_wrapper .education_tile h3 {
  padding: 20px 0;
}
.resume_wrapper .work_edu_wrapper .grid_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 35px;
  margin-top: 30px;
  position: relative;
}
.resume_wrapper .work_edu_wrapper .grid_item:after {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  width: 2px;
}
.resume_wrapper .work_edu_wrapper .grid_item:before {
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  background: #000;
  width: 2px;
  margin: 0 auto 0;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content {
  background: #29323B;
  padding: 20px 30px;
  position: relative;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content:nth-child(odd) {
  margin-left: 25px;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content:nth-child(odd)::after {
  left: -28px;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content:after {
  left: -23px;
  top: -1px;
  content: "";
  border-radius: 50px;
  height: 10px;
  width: 10px;
  outline: solid 5px #f99700;
  position: absolute;
  z-index: 9;
  background: #232C32;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content span {
  color: #F89020;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}
.resume_wrapper .work_edu_wrapper .grid_item .grid_content button {
  color: #F89020;
  background: #2E3A42;
  padding: 10px 20px;
  border: solid 1px rgba(204, 204, 204, 0.5333333333);
  margin-top: 20px;
}

.portfolio_wrapper .port_w {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio_wrapper .port_w .port_tav ul {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.08);
  border-radius: 5px;
}
.portfolio_wrapper .port_w .port_tav ul li {
  display: inline-block;
  padding: 15px 25px;
  border-right: solid 1px rgba(204, 204, 204, 0.2470588235);
}
.portfolio_wrapper .port_w .port_tav ul li:last-child {
  border: none;
}
.portfolio_wrapper .port_w .port_tav ul li.active {
  background: #F89020;
}
.portfolio_wrapper .port_w .port_tav ul li.active button {
  color: #fff;
  background: none !important;
  border: none;
}
.portfolio_wrapper .port_w .port_tav ul li button {
  text-decoration: none;
  color: #F89020;
  font-size: 12px;
  background: none !important;
  border: none;
  cursor: pointer;
}
.portfolio_wrapper .port_tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid {
  position: relative;
  z-index: 999;
  overflow: hidden;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid .port_img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4117647059);
  position: absolute;
  left: 0;
  top: 0;
  height: 98%;
  width: 100%;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid .port_img img {
  width: 100%;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid .port_overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid .port_overlay svg {
  height: 70px;
  width: 70px;
  background: rgba(35, 44, 50, 0.7921568627);
  padding: 20px;
}
.portfolio_wrapper .port_tab .port_grid_w .port_grid .port_overlay svg path {
  fill: #F89020;
}

.contact_form .card_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.contact_form .card_wrapper .card_item {
  padding: 25px 30px 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.contact_form .card_wrapper .card_item span {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #232C35;
  color: #F89020;
}
.contact_form .card_wrapper .card_item .card_cont {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.contact_form .card_wrapper .card_item .card_cont svg {
  height: 60px;
  background: #232C35;
  width: 60px;
  padding: 10px;
  border-radius: 5px;
}
.contact_form .card_wrapper .card_item .card_cont svg path {
  stroke: #F89020;
}
.contact_form .card_wrapper .card_item .card_cont h4 {
  color: #F89020;
  padding-bottom: 10px;
}
.contact_form .card_wrapper .card_item .card_cont a {
  color: #F89020;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
}
.contact_form .contact_form {
  width: 100%;
}
.contact_form .contact_form .field_wrapper {
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}
.contact_form .contact_form .field_wrapper .field_item input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: none;
}
.contact_form .contact_form .field_wrapper .field_item textarea {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: none;
  padding: 10px;
}
.contact_form .contact_form .field_wrapper .field_item button {
  background: linear-gradient(90deg, #F5BF4F, #F89020);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 900;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.1);
  transition: 0.5s ease-in-out;
  display: block;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */